<div class="home-content m-7">
  <div class="main-banner bg-indigo-600 mt-10 rounded-3xl">
    <div class="main-banner-content p-10 flex ml-10 mr-10">
      <div class="left-side m-5 flex-auto justify-center">
        <p class="text-3xl text-white">NEW DEALS!</p>
        <p class="text-3xl text-white">CHECK THEM OUT!</p>
        <button
          class="bg-black rounded-2xl text-white mt-20 p-3 pl-7 pr-7 hover:bg-white hover:text-black duration-150">
          Discover
        </button>
      </div>
      <div class="right-side flex-auto h-100 flex justify-center items-center lg:justify-end">
        <img
          class="rounded-3xl mix-blend-multiply w-60 h-60"
          src="https://dr9l7gb9cebpv.cloudfront.net/media/catalog/product/cache/b33a4beff22b16e443cf02686e59d8ab/a/0/a06646c_a_107x1_3.jpg"
        />
      </div>
    </div>
  </div>
  <div class="categories-section">
	  <div class="categories- mt-6 items-center justify-between flex">
	  	<p class="text-4xl">Categories</p>
	  	<p class="text-xl">See all</p>
	  </div>
	  <div class="categories mt-20 flex justify-between">
	  	<div class="category">
		  	<p class="text-md">Men</p>  		
		  	<hr class="w-100 bg-indigo-600 border-indigo-600 text-indigo-600 h-1"/>		
	  	</div>
	  	<div class="category">
		  	<p class="text-md">Women</p>  		
		  	<hr class="w-100 bg-indigo-600 border-indigo-600 text-indigo-600 h-1"/>		
	  	</div>
	  	<div class="category">
		  	<p class="text-md">Unisex</p>
		  	<hr class="w-100 bg-indigo-600 border-indigo-600 text-indigo-600 h-1"/>		
	  	</div>
	  </div>
  </div>
</div>