<div class="home-content">
  <div class="main-banner bg-indigo-600 mt-10 rounded-3xl lg:ml-20 lg:mr-20 ml-5 mr-5">
    <div class="main-banner-content p-10 flex ">
      <div class="left-side m-5 flex-auto justify-center">
        <p class="md:text-3xl sm:text-xl text-white">NEW DEALS!</p>
        <p class="md:text-3xl sm:text-xl text-white">CHECK THEM OUT!</p>
        <button
          class="bg-black rounded-2xl text-white mt-20 p-3 pl-7 pr-7 hover:bg-white hover:text-black duration-150">
          Discover
        </button>
      </div>
      <div class="right-side flex-auto h-100 flex justify-center items-center lg:justify-end">
        <img
          class="rounded-3xl mix-blend-multiply md:w-60 md:h-60 sm:w-40 sm:h-40"
          src="https://dr9l7gb9cebpv.cloudfront.net/media/catalog/product/cache/b33a4beff22b16e443cf02686e59d8ab/a/0/a08096c_a_107x1_3.jpg"
        />
      </div>
    </div>
  </div>
  <div class="categories-section ml-5 mr-5 lg:ml-20 lg:mr-20">
	  <div class="categories-title mt-6 items-center justify-between flex">
	  	<p class="text-4xl">Categories</p>
	  	<a href="#" class="text-xl">See all</a>
	  </div>
	  <div class="categories mt-20 flex justify-between">
	  	<div class="category flex-1">
		  	<img class="ml-auto mr-auto text-center avatar rounded-full w-20 h-20" src="/assets/man.png"/>	
		  	<p class="w-min ml-auto mr-auto text-md text-center border-b-4 border-b-indigo-600">Men</p>
	  	</div>
	  	<div class="category flex-1">
	  		<img class="ml-auto mr-auto text-center avatar rounded-full w-20 h-20" src="/assets/woman.png"/>	
		  	<p class="w-min ml-auto mr-auto text-md text-center border-b-4 border-b-indigo-600">Women</p>  		
	  	</div>
	  	<div class="category flex-1">
	  		<img class="ml-auto mr-auto text-center avatar rounded-full w-20 h-20" src="/assets/unisex.png"/>	
		  	<p class="w-min ml-auto mr-auto text-md text-center border-b-4 border-b-indigo-600">Unisex</p>
	  	</div>
	  </div>
  </div>
   <div class="picks-section mt-6">
  	<div class="picks-title mt-6 items-center justify-between flex ml-3 mr-3 lg:ml-20 lg:mr-20">
	  <p class="text-4xl">Our Picks</p>
	  <a href="#" class="text-xl">See all</a>
  	</div>
  	<div class="picks mt-20 flex justify-between text-center mb-10">
	  	<div class="pick flex-1 ml-5 mr-5" *ngFor="let product of randomProducts">
		  	<img class="ml-auto mr-auto rounded-md md:w-60 md:h-60 sm:w-0 sm:h-20" src="{{ product.image }}"/>	
		  	<p class="md:text-md text-sm text-center mt-4">{{ product.name }}</p>
		  	<p class="md:text-md text-sm text-indigo-600 text-center">{{ product.price }}</p>
	  	</div>
	  </div>
  </div>
</div>